<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nova Prova</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
        <ul class="nav justify-content-end">
                <li class="nav-item">
                        <a class="nav-link disabled" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/provas">Provas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/provas/nova">Nova Prova</a>
                </li>


              </ul>
    <h1 class="d-flex justify-content-center">Nova Prova</h1>
    <div class="container">
    <form action="/provas/nova" method="POST">
        <div class="form-group">
                <label for="disciplina">Disciplina</label>
            <input type="text" class="form-control" name="disciplina" id="disciplina" placeholder="Disciplina" required>
        </div>

        <div class="form-group">
                <label for="professor">Professor</label>
            <input type="text" class="form-control" name="professor" id="Professor" placeholder="Professor" required>
        </div>

        <div class="form-group">
                <label for="dataProva">Data da Prova</label>
            <input type="date" class="form-control" name="dataProva" id="dataProva" placeholder="dataProva" required>
        </div>
        <button type="submit" class="btn btn-success">Salvar</button>

    </form>
</div>
</body>
</html>